@charset "utf-8";
/* CSS Document */
/* ------------ Reset ------------ */
body { font-family: 'Noto Sans', sans-serif; color:#96979d; font-size:13px; margin:0px; padding:0px }
a { color :#96979d; text-decoration:none }
input, button, select, textarea { font-family: 'Noto Sans', sans-serif; }
a:hover { text-decoration:none; color:#EE2E24 }
h1, h2, h3, h4, h5 { font-weight:normal }
ul, ul li { list-style:none }
.heading1 { font-size:22px; color:#5e626b; text-transform:uppercase; pfont-family: 'Noto Sans', serif; border-bottom:4px double #F2F2F2; padding:0px 0 5px 0; margin-bottom:40px; margin-top:0px; }
.heading2 { font-size:22px; text-transform:none; font-weight:normal; text-transform:uppercase; font-family: 'Noto Sans', serif; border-bottom:1px solid #F2F2F2; padding:0px 0 5px 0; color:#5e626b; margin-bottom:15px }
.heading2 span { border-bottom:1px solid #ccc; padding:0px 0 5px 0; }
.heading3 { font-size:18px; color:#333 }
.heading1 .maintext { border-bottom:4px double #cccccc; padding:0px 0 5px 0; /*color:#EE2E24*/ }
h1, h2, h3, h4, h5, h6 { line-height:normal }
h2 { font-size:24px }
.textright { text-align:right }
.textcenter { text-align:center }
.mt0 { margin-top:0px!important }
.mb0 { margin-bottom:0px!important }
.mt40 { margin-top:40px!important }
.mt20 { margin-top:20px }
.mt60 { margin-top:60px!important }
.mr10 { margin-right:10px }
.mb10 { margin-bottom:10px }
.mb20 { margin-bottom:20px }
.mb40 { margin-bottom:40px }
.font18 { font-size:18px }
.font24 { font-size:24px }
.font36 { font-size:36px }
.font48 { font-size:48px }
.font60 { font-size:60px }
.font72 { font-size:72px }
.font96 { font-size:96px }
.font124 { font-size:124px }
.error404 { font-size:60px; text-align:center; font-family: 'Noto Sans', serif; color:#EE2E24 }
.centeralign { text-align:center }
.margin-none { margin:0px }
.clear { clear:both }
.displayblock { display:block }
.red { color:#F00 }
.orange { color:#EE2E24 }
.footerlinks ul li a, .footerlinks ul li a:hover, .thumbnail .shortlinks a, .shortlinkourteam a, .thumbnail .shortlinks a:hover, .thumbnail .shortlinksourteam a:hover, .flex-control-paging li a, .flex-control-paging li a:hover, ul.categorymenu > li > a, ul.categorymenu > li > a:hover, .dropdown-menu li > a, .dropdown-menu li > a:hover, ul.categorymenu > li > div > ul > li > a, ul.categorymenu > li > div > ul > li > a:hover, #topnav ul li a, #topnav ul li a:hover, .thumbnail a.productcart, .thumbnail a:hover.productcart, input, input:focus, select, select:focus, textarea, textarea:focus { -moz-transition: all .2s ease;
-webkit-transition: all .2s ease;
-o-transition: all .2s ease
}
#featured, #latest, #related, #popularbrands, #newslettersignup, #category, #ourteam { margin:0 auto 0 auto }
 input:focus:invalid, textarea:focus:invalid, select:focus:invalid {
color: #96979d;
}
/* ------------ Header ------------ */
.headerstrip { background:#F2F2F2; }
.logo { }
#topnav { margin:0px }
#topnav .navbar-inner { background:none; border:none; box-shadow:none; filter:none; padding:0px }
#topnav ul { padding:5px 0 0 0; margin:0px }
#topnav ul li { padding:5px 0 }
#topnav ul li a { box-shadow:none; text-shadow:none; color:#999999; font-size:13px; text-transform:capitalize; padding:0px; margin-right:15px }
#topnav ul li a:hover, #topnav ul li a.active { color:#000 }
.top-search { }
.top-search input { width:500px; height:24px; border:1px solid #E7E7E7; padding:5px; margin-left:80px }
.headerdetails { padding:50px 0 50px 0; }
li.dropdown { list-style:none }
.welcometxt { margin:8px 0 0 0 }
/* ------------  Top Cart ------------ */
.headerdetails #main-nav ul > li.topcart { background:#fff; height:45px }
.headerdetails #main-nav ul > li.topcart a { color:#999999; font-size:14px }
.headerdetails .navbar .nav li.topcart .dropdown-toggle .caret, .navbar .nav li.dropdown.open.topcart .caret { border-bottom-color:#999999; border-top-color:#999999 }
.headerdetails ul.topcartopen { font-size:12px }
.headerdetails ul.topcartopen li > table { border-collapse: collapse; width: 100%; margin-bottom: 5px; padding:10px }
.headerdetails ul.topcartopen li > table td {
color: #; vertical-align: top; padding: 5px 10px; border-bottom: 1px dashed #E7E7E7; }
.headerdetails ul.topcartopen li > table .image { width: 1px; }
.headerdetails ul.topcartopen li > table .image img { text-align: left; }
.headerdetails ul.topcartopen li > table .name small { color: #999999; }
.headerdetails ul.topcartopen li > table .quantity { text-align: right; }
.headerdetails ul.topcartopen li > table td.total { text-align: right; }
.headerdetails ul.topcartopen li > table .remove { text-align: right; }
.headerdetails ul.topcartopen li > table .remove img { cursor: pointer; }
.headerdetails #header #cart .mini-cart-total > table { border-collapse: collapse; padding: 5px; float: right; clear: left; margin-bottom: 5px; }
.headerdetails ul.topcartopen li > table a { padding:0px; }
.headerdetails .shoppingcarttop { position:absolute; top:0; right:250px }
.headerstrip nav.subnav select { display: none; }
.headerstrip ul.nav { margin-bottom:0px }
.headerstrip ul.nav.language { margin-right:60px }
.headerstrip ul.nav.language li.dropdown { border:1px solid #f2f2f2; padding:9px 3px 0 0; display:inline-block; text-transform:uppercase; margin-right:15px }
.headerstrip ul.nav.topcart li.dropdown { border:1px solid #f2f2f2; display:inline-block; text-transform:uppercase }
.headerdetails .topcall { font-size:16px; background:#fff url(../img/sprite.png) left -287px no-repeat; line-height: 31px; padding: 0 0 0 41px; margin-left:40px }
.headerdetails li.carticon.dropdown { padding:7px 10px 7px 0px }
.buttonwrap { padding:10px; margin:5px 10px 10px 0 }
/* ------------ Category Menu ------------ */
#categorymenu { padding:7px 0 7px 0; background:#fff; border-top:1px double #E7E7E7; border-bottom:4px double #E7E7E7 }
#categorymenu:after { clear:both; content:"" }
#categorymenu select { display:none }
ul.categorymenu { margin:0px auto }
ul.categorymenu > li { position:relative; margin: 0; border-right:1px solid #E7E7E7 }
ul.categorymenu > li a.home span {text-indent:-9999px;}
ul.categorymenu > li:last-child { border:none }
ul.categorymenu > li > a { text-decoration: none; display: block; z-index: 6; position: relative; color:#4b5b58!Important; text-transform:uppercase; font-size:14px }
ul.categorymenu > li:hover > a, ul.categorymenu > li > a.active { color:#fff!important; text-shadow:none; background-color:#EE2E24 }
ul.categorymenu > li > div { display: block; padding:15px; position: absolute; top: 97%; left: 0; z-index: 99999; display: none; float: left; min-width: 120px; margin: 1px 0 0; list-style: none; background-color: #ffffff; border: 1px solid #E7E7E7; border: 1px solid rgba(0, 0, 0, 0.2); *border-right-width: 2px;
 *border-bottom-width: 2px;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }
ul.categorymenu > li > div:before { right: auto; left: 12px; border-bottom: 7px solid rgba(0, 0, 0, 0.2); border-left: 7px solid transparent; border-right: 7px solid transparent; content: ""; display: inline-block; position: absolute; top: -5px; }
ul.categorymenu > li > div:after { right: auto; left: 13px; border-bottom: 6px solid #FFFFFF; border-left: 6px solid transparent; border-right: 6px solid transparent; content: ""; display: inline-block; position: absolute; top: -4px; }
ul.categorymenu > li:hover > div { display: table; width:100%; vertical-align:top }
ul.categorymenu > li > div > ul { display: table-cell; vertical-align:top;}
ul.categorymenu > li ul + ul { padding-left: 20px; }
ul.categorymenu > li ul > li { display:block; float:left; width:100%; border-bottom:1px dashed #dddddd }
ul.categorymenu > li > div > ul.arrow li a { padding:8px 8px 8px 8px; display:block }
ul.categorymenu > li ul > li > a { text-decoration: none; display: block; white-space: nowrap; min-width: 150px; padding:8px;  }
ul.categorymenu > li > div > ul li:hover a { background-color: #EE2E24; color:#fff; text-shadow:none }
ul.categorymenu > li > div > ul > li > a { color: #999999; }
ul.categorymenu > li ul > li img { margin:3px; max-width:none }
.breadcrumb { margin-bottom:30px; background:none; border:1px solid #efefef }
.well { background:none; border:1px solid #efefef }
/* ------------ third level menu ------------ */
ul.categorymenu > li > div > ul > li { position:relative }
ul.categorymenu > li > div > ul > li > div { display: block; padding:15px; position: absolute; top: 10%; left: 90%; z-index: 99999; display: none; float: left; min-width: 120px; margin: 1px 0 0; list-style: none; background-color: #ffffff; border: 1px solid #E7E7E7; border: 1px solid rgba(0, 0, 0, 0.2); *border-right-width: 2px; *border-bottom-width: 2px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }
ul.categorymenu li div ul { margin:0px; }
ul.categorymenu > li > div > ul > li > div ul li a { background:#fff }
ul.categorymenu > li > div > ul > li:hover > div { display: inline-block; width:100%; vertical-align:top; padding:20px 30px 20px 20px }
ul.categorymenu > li > div > ul li:hover a { background-color: #fff; color:#999999; }
ul.categorymenu > li > div > ul li:hover > a { background-color: #EE2E24; color:#fff; }
ul.categorymenu > li > div > ul > li > div ul li > div { display:none; display: block; padding:15px; position: absolute; top: 10%; left: 90%; z-index: 99999; display: none; float: left; min-width: 120px; margin: 1px 0 0; list-style: none; background-color: #ffffff; border: 1px solid #E7E7E7; border: 1px solid rgba(0, 0, 0, 0.2); *border-right-width: 2px;
*border-bottom-width: 2px;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }
ul.categorymenu > li > div > ul > li > div ul li:hover > div { display: inline-block; width:100%; vertical-align:top; }
ul.categorymenu > li > div > ul > li > div ul li > div { display:none; display: block; padding:15px; position: absolute; top: 10%; left: 90%; z-index: 99999; display: none; float: left; min-width: 120px; margin: 1px 0 0; list-style: none; background-color: #ffffff; border: 1px solid #E7E7E7; border: 1px solid rgba(0, 0, 0, 0.2); *border-right-width: 2px;
*border-bottom-width: 2px;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }
ul.categorymenu > li > div > ul > li > div ul li:hover > div { display: table; width:100%; vertical-align:top; }
/* ------------ third level end ------------ */

/* ------------ otherddetails ------------ */
.otherddetails { margin:50px auto 50px auto }
.otherddetails .otherddetailspart { width:16%; float:left; display:inline-block; margin-right:7px }
.otherddetails .otherddetailspart:last-child { background:none }
.otherddetails .otherddetailspart .innerclass { text-align:center; border: 1px solid #E7E7E7; margin: 0 auto; padding:15px; width:150px; height:150px; border-radius:200px; -moz-border-radius:200px; -wekit-border-radius:200px; -moz-transition: all .5s ease;
-webkit-transition: all .5s ease;
-o-transition: all .5s ease
}
.otherddetails .otherddetailspart .innerclass:hover i { color:#EE2E24; -moz-transition: all .5s ease;
-webkit-transition: all .5s ease;
-o-transition: all .5s ease
}
.otherddetails .otherddetailspart .innerclass h2 { font-size:20px; color:#5e626b; line-height:normal; margin:0px; }
.otherddetails .otherddetailspart .innerclass h2:before { visibility: hidden; display: block; content: ""; lear: both; height: 0; }
.otherddetails .otherddetailspart .innerclass.free { background-position: 20px 29px }
/* ------------ Small banners ------------ */
.smbanner { margin:20px auto 0 auto; }
.smbanner .span3 a { display:block; border:1px solid #ddd; }
/* ------------ nesletter ------------ */
#newslettersignup input { height:32px }
#newslettersignup input[type=submit] { height:42px }
#newslettersignup .pull-right { margin-top:15px }
#newslettersignup .newsletter { padding: 8px 0 0 80px; background:url(../img/otherdetailicon.png) no-repeat left -500px; height:80px }
#newslettersignup .newsletter2 { padding:0; background:none; height:80px }
#newslettersignup .newsletter h2 { font-size:20px; color:#5e626b; line-height:normal; margin:0px }
/* ------------ Featured Proudcts ------------ */
#categorymenu { margin:40px 0 50px 0 }
#featured:after, #ourteam:after, #latest:after, #related:after, #category:after, #popularbrands:after, #category:after, #newslettersignup .container:after { clear: both; visibility: hidden; display: block; content: ""; clear: both; height: 0; }
#featuredcarousal, #latestcarousal { margin:0px; }
#featuredcarousal li, #latestcarousal li { margin:0px 11px 0 11px; }
.featuredcarousalwrap, .latestcarousalwrap { position:relative }
.featuredcarousalwrap a#nextfeatured, .featuredcarousalwrap a#prevfeatured, .latestcarousalwrap a#nextlatest, .latestcarousalwrap a#prevlatest { position:absolute; font-size:12px; display:block; overflow:hidden; height:25px; width:25px; right:0; top:-30px; background:#ccc; text-align:center; color:#fff; line-height:28px; color:#fff }
.featuredcarousalwrap a#nextfeatured:hover, .featuredcarousalwrap a#prevfeatured:hover, .latestcarousalwrap a#nextlatest:hover, .latestcarousalwrap a#prevlatest:hover { background:#EE2E24 }
.featuredcarousalwrap a#prevfeatured, .latestcarousalwrap a#prevlatest { right:30px; }
.thumbnails .prdocutname { font-size:16px; color:#5e626b; margin:0 0 10px 0; display:block }
.thumbnails.list .thumbnail .prdocutname { font-size:16px; color:#5e626b; text-transform:uppercase; text-align:left; margin:0 0 10px 0; display:block }
.thumbnails.list > li { margin-bottom:40px; padding-bottom:40px; border-bottom:1px solid #ccc }
.thumbnails.list .productdiscrption { margin:10px 0 25px 0 }
.thumbnails.list .thumbnail .shortlinks { display:block; width:auto; position:static; text-align:left; margin:10px 0 25px 0 }
.thumbnail .shortlinksourteam { display:block; width:100%; position:static; text-align:left; position:absolute; bottom:15px; text-align:center }
#ourteam .thumbnail a { border:1px solid #ccc }
.thumbnail .shortlinks i { font-size:18px }
.thumbnail .shortlinksourteam a { background:#5e626b; color:#fff }
.thumbnail .shortlinksourteam a:hover { background:#EE2E24 }
.thumbnail .shortlinksourteam i { font-size:14px }
.thumbnails.list .pricetag { margin-left:-15px }
.thumbnail { border-radius:0; -webkit-border-radius:0; -moz-border-radius:0 }
.thumbnail .offer { position:absolute; top:10px; left:-2px; background:url(../img/offer.png) no-repeat 0 0; height:45px; width:68px; float:left; overflow:hidden; display:block; text-indent:9999px }
.thumbnail .sale, .thumbnail .new {
	position: absolute;
	top: -7px;
	left: 2px;
	height: 50px;
	width: 60px;
	float: left;
	overflow: hidden;
	display: block;
	background: #fff;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	text-align: center;
	color: #EE2E24;
	box-shadow: 3px 3px 2px #ccc;
	-moz-box-shadow: 3px 3px 2px #ccc;
	-webkit-box-shadow: 3px 3px 2px #ccc;
	padding: 10px 0 0 0;
	line-height: 14px;
	z-index: 999
}
.thumbnail .pricetag { width:221px; height:37px; background:url(../img/pricetag.png) no-repeat right 0; margin-top:8px; position:relative; padding:9px 9px 9px 40px; margin-bottom:20px }
.thumbnail .pricetag .spiral { position:absolute; top:-19px; left:10px; background:url(../img/spiral.png) no-repeat right 0; height:50px; width:35px }
.thumbnail a.productcart { background: #EE2E24 url(../img/prodcutcart.png) right 7px no-repeat; color:#fff; float:right; padding:8px 27px 8px 8px; font-size:13px; }
.thumbnail a.productcart:hover { background: #db420e url(../img/prodcutcart.png) right 7px no-repeat; }
.thumbnail .shortlinks { background:url(../img/singlepx.png) 0 0 repeat; position:absolute; left:0; top:50%; width:100%; text-align:center; padding:5px 0; display:none }
.thumbnail .addtocartbutton { float:right; margin-top:12px }
.thumbnail .price { margin:10px 0; display:inline-block }
.thumbnail .price .pricenew { font-size:16px; color:#5e626b; font-weight:bold; margin-right :10px; float:left }
.thumbnail .price .priceold {
	font-size: 13px;
	color: #5e626b;
	color: #96979d;
	margin-right : 10px;
	display: inline-block
}
#featured .thumbnails li:hover .thumbnail img, #latest .thumbnails li:hover .thumbnail img, #related .thumbnails li:hover .thumbnail img, #category .thumbnails li:hover .thumbnail img, .thumbnails.list li:hover .thumbnail img { transform: scale(1.2, 1.2); -ms-transform: scale(1.2, 1.2); /* IE 9 */ -webkit-transform: scale(1.2, 1.2); /* Safari and Chrome */ -o-transform: scale(1.2, 1.2); /* Opera */ -moz-transform: scale(1.2, 1.2); /* Firefox */ transition: all 0.8s; -ms-transition: all 0.8s; /* IE 9 */ -moz-transition: all 0.8s; /* Firefox 4 */ -webkit-transition: all 0.8s; /* Safari and Chrome */ -o-transition: all 0.8s; /* Opera */ }
#featured .thumbnails li .thumbnail, #ourteam .thumbnails li .thumbnail, #latest .thumbnails li .thumbnail, #related .thumbnails li .thumbnail, #category .thumbnails li .thumbnail, .thumbnails.list li .thumbnail { overflow:hidden }
#featured .thumbnails li .thumbnail img, #ourteam .thumbnails li .thumbnail img, #latest .thumbnails li .thumbnail img, #related .thumbnails li .thumbnail img, #category .thumbnails li .thumbnail img, .thumbnails.list li .thumbnail img { transition: all 0.8s; -ms-transition: all 0.8s; /* IE 9 */ -moz-transition: all 0.8s; /* Firefox 4 */ -webkit-transition: all 0.8s; /* Safari and Chrome */ -o-transition: all 0.8s; /* Opera */ }
.thumbnails.list li:hover .thumbnail img { transform:none!important; -ms-transform: none!important; -webkit-transform: none!important; -o-transform: none!important;/* Opera */ -moz-transform:none!important; transition: none!important; -moz-transition: none!important; -webkit-transition: none!important; -o-transition: none!important; }
/*Brand*/
#popularbrands { position:relative; padding:0 0 20px 0 }
.brandcarousalrelative { position:relative }
#popularbrands ul#brandcarousal { margin: 0; padding: 0; list-style: none; display: block; border-left: 4px double #e7e7e7; }
#popularbrands ul#brandcarousal li { text-align: center; border-right: 4px double #e7e7e7; padding: 10px 5px; margin: 6px; display: block; float: left; }
#popularbrands.responsive { width: auto; margin-left: 0; }
.clearfix { float: none; clear: both; }
#popularbrands ul#brandcarousal .prev { float: left; margin-left: 10px; }
#popularbrands ul#brandcarousal .next { float: right; margin-right: 10px; }
#popularbrands ul#brandcarousal .pager { float: left; width: 300px; text-align: center; }
#popularbrands ul#brandcarousal .pager a { margin: 0 5px; text-decoration: none; }
#popularbrands ul#brandcarousal .pager a.selected { text-decoration: underline; }
#popularbrands ul#brandcarousal .timer { background-color: #999; height: 6px; width: 0px; }
#popularbrands #prev, #popularbrands #next { position:absolute; font-size:12px; display:block; overflow:hidden; height:25px; width:25px; background:#ccc; text-align:center; color:#fff; line-height:28px; top:30px }
#popularbrands #prev { left:0; }
#popularbrands #next { right:0; }
#popularbrands #prev:hover, #popularbrands #next:hover { background:#EE2E24 }
.timer { background-color: #999; height: 6px; width: 0px; }
#musthave { width:300px!important; }
/*Category*/
#categorycar:after { position:relative; padding:0 0 20px 0 }
.categorycarousalrelative { position:relative }
#categorycar ul#categorycarousal { margin: 0; padding: 0; list-style: none; display: block; border-left: 4px double #e7e7e7; }
#categorycar ul#categorycarousal li { text-align: center; border-right: 4px double #e7e7e7; padding: 10px 5px; margin: 6px; display: block; float: left; }
#categorycar.responsive { width: auto; margin-left: 0; }
.clearfix { float: none; clear: both; }
#categorycar .prev { float: left; margin-left: 10px; }
#categorycar .next { float: right; margin-right: 10px; }
#categorycar .pager { float: left; width: 300px; text-align: center; }
#categorycar .pager a { margin: 0 5px; text-decoration: none; }
#categorycar .pager a.selected { text-decoration: underline; }
#categorycar .timer { background-color: #999; height: 6px; width: 0px; }
#categorycar #prevcat, #categorycar #nextcat { position:absolute; font-size:12px; display:block; overflow:hidden; height:25px; width:25px; background:#ccc; text-align:center; color:#fff; line-height:28px; top:74px }
#categorycar #prevcat { left:0; }
#categorycar #nextcat { right:0; }
#categorycar #prevcat:hover, #categorycat #next:hover { background:#EE2E24 }
/*Producct page*/
h1.pagetitle { background:#f9f9f9; padding:10px; color:#fff; font-size:24px; margin:0 0 40px 0; color:#EE2E24 }
#product { margin-bottom:20px }
.thumbnails.mainimage li.span5 { margin-bottom:0px; }
.thumbnails.mainimage li.span4 { margin-bottom:0px; }
ul.productinfo { margin:0px; padding:0px; list-style:none }
ul.productinfo li { padding:5px 0; list-style:none; display:block }
ul.productinfo li .productinfoleft { width:160px; float:left; font-weight:bold }
.productformbutton { border-bottom:1px solid #E7E7E7; width:100%; float:left; display:block; padding-bottom:25px }
.form-horizontal.productform .control-label { text-align:left!important; }
.productaddtocart { margin:10px 10px 10px 160px; float:left!important }
.rating { margin:25px 30px 40px 0; border-top: 1px solid #E7E7E7; border-radius: 4px 4px 4px 4px; padding:15px 0 15px 0; border-bottom: 1px solid #E7E7E7; }
.options { margin:5px 0 12px 0 }
.ratingstar { margin:5px 0 }
.mainimage li.producthtumb { display:inline-block; width:100px; margin-left:25px }
.mainimage li.producthtumb img { cursor:pointer }
.productright { position:relative }
.productprice .price { margin:0 auto; height:28px; line-height:28px; margin-top:11px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; color:#333; text-align:center; text-transform:uppercase; font-size:16px; color:#EE2E24; width:80px }
.productprice .rate { margin:25px 0 0 0 }
.productright .productpriceround { display: block; cursor: pointer; -webkit-border-radius: 100px; -moz-border-radius: 100px; -o-border-radius: 100px; border-radius: 100px; box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); margin:0 auto; padding:10px; float:right; border: 1px solid #E7E7E7; }
.productprice { margin:0 0 0 0; clear:both }
.productpageprice {
	width: 250px;
	padding: 20px 0;
	font-size: 20px;
	color: #333
}
.productpageprice .spiral { position:absolute; top:-19px; left:25px; background:url(../img/spiral.png) no-repeat right 0; height:50px; width:35px }
.productpageoldprice {
	font-size: 20px;
	text-decoration: line-through;
	margin-left: 0px
}
.productbtn { margin:40px 0 }
.productbtn button { font-size:22px; padding:10px 15px; margin:5px 10px 5px 0 }
.productpagecart li a.cart { background-position:10px 12px }
.productpagecart li a.wish { background-position:10px -51px }
.productpagecart li a.comare { background-position:10px -126px }
.productpagecart li a:hover { background-color: #333333 }
.selectsize { width:170px; float:left; margin-right:10px }
.selectqty { width:100px; float:left; margin-right:10px }
.quantitybox { background:#fff; border: 1px solid #cccc; padding:15px 15px 8px 0px; display:block; margin:30px 0 20px 0; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; }
.quantitybox:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.productlinks { margin:6px 0 0 10px; float:left }
.productlinks a { margin-right:10px; background: url(../img/productpagelinkicon.png) no-repeat 0 0; padding:0 0 0 25px; color:#4B5B58; line-height:24px; font-size:14px }
.productlinks a.cartadd { background-position:0 0 }
.productlinks a.compare { background-position:0 -49px }
h1.productname { color:#EE2E24; font-size:26px; margin:0 0 20px 0; background:none; line-height:auto!important; }
.productright a.addtocart { background: url(../img/addtocart.png) no-repeat scroll 0 0 transparent; color: #FFFFFF; font-size: 20px; font-weight: bold; height: 34px; padding: 58px 0 0; text-align: center; width: 159px; margin-top:20px; display:block; cursor:pointer; margin-left:2px }
.productright a:hover.addtocart { background-position:0 -111px; }
.nav-tabs { margin:0px }
.productdesc { margin:22px 0 0 0 }
.productdesc .nav-tabs li a { font-size:13px; text-shadow:1px 1px 1px #fff; color:#999999 }
.productdesc .nav-tabs li a:hover { color:#333 }
.productdesc .nav-tabs li.active { border-bottom:1px solid #fff; }
.productdesc .nav-tabs li.active a { color:#000; }
.productdesc #myTab.nav-tabs li a { margin : 0px!important; }
.tab-content { background-color: #FFFFFF; border: 1px solid #E7E7E7; border-radius: 3px 3px 3px 3px; border-top:none; padding:15px }
ul.reveiw { margin:0px; padding:0px }
ul.reveiw > li { border-bottom:1px solid #E7E7E7; margin-bottom:22px; padding:5px 0 10px 0 }
ul.reveiw li { list-style:none }
ul.reveiw li .title { font-size:20px; }
ul.reveiw li .date { float:right; font-size:14px; }
ul.reveiw ul.rate { margin:10px 0 }
.cloud-zoom-lens { border: 1px solid #fff; 	/* Set this to minus the border thickness. */ background-color:#fff; cursor:move; }
.cloud-zoom-title { font-family:Arial, Helvetica, sans-serif; position:absolute !important; background-color:#999999; color:#fff; width:100%; text-align:center; font-size:10px; top:0px; }
#musthave { margin:0px }
/* This is the zoom window. */
.cloud-zoom-big { border:2px solid #fff; overflow:hidden; }
/* This is the loading message. */
.cloud-zoom-loading { color:white; background:#222; padding:3px; border:1px solid #999999; }
/* cart */
.cart-info table { width: 100%; margin-bottom: 20px; border-collapse: collapse; border-top: 1px solid #E7E7E7; border-left: 1px solid #E7E7E7; border-right: 1px solid #E7E7E7; background-color:#fff; }
.cart-info table tr { -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; }
.cart-info table tr:hover { -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; }
.cart-info td, .cart-info th { padding: 15px; }
.cart-info th { padding:10px }
.cart-info th { font-weight: bold; background-color: #eeeeee; border-bottom: 1px solid #E7E7E7; }
.cart-info th.quantity, .cart-info td.quantity { text-align: left; }
.cart-info th .price, .cart-info th .total, .cart-info tbody .price, .cart-info tbody .total { text-align: right; }
.cart-info th .quantity a { margin-top:-5px }
.cart-info tbody td { vertical-align: top; border-bottom: 1px solid #E7E7E7; }
.cart-info tbody .remove { vertical-align: middle; }
.cart-info tbody .remove, .cart-info tbody .image { text-align: center; }
.cart-info tbody .name, .cart-info tbody .model { text-align: left; }
.cart-info tbody span.stock { color: #F00; font-weight: bold; }
.cart-module .cart-heading { border: 1px solid #E7E7E7; padding: 8px 8px 8px 22px; font-weight: bold; font-size: 12px; margin-bottom: 15px; cursor: pointer; background: #ffffff url('../image/arrow-right.png') 10px 50% no-repeat; }
.cart-module .active { background: #ffffff url('../image/arrow-down.png') 7px 50% no-repeat; }
.cart-module .cart-content { padding: 0px 0px 15px 0px; display: none; overflow: auto; }
.cart-module > div { display: none; }
.cart-total { border-top: 1px solid #E7E7E7; overflow: auto; padding-top: 8px; margin-bottom: 15px; }
.cart-total table { float: right; }
.cart-total td { padding: 3px; text-align: right; }
.cartoptionbox { background:#fff; padding:15px; border:1px solid #ddd; margin-bottom:40px }
ul.total { font-size:16px; margin-top:5px; margin-right:10px }
ul.total li { padding:10px 0 }
ul.total li span.extra { width:150px; float:left; text-align:right; padding-right:20px }
.totalamout { font-size:22px; color:#EE2E24 }
. /* login */
.loginbox {
padding:5px;
}
/* register */
.registerbox { padding:20px 15px 0 15px; margin-bottom:20px }
.myaccountbox { padding:20px 15px 15px 15px; margin-bottom:20px }
.myaccountbox ul { padding:0px; margin:0px }
.myaccountbox ul li { display:block; border-bottom:1px dashed #E7E7E7 }
.myaccountbox ul li:last-child { border:none }
.myaccountbox ul li a { display:block; padding:8px 5px 8px 30px; background: url("../img/arrowcategory.png") no-repeat scroll 8px center transparent; color:#999999 }
.myaccountbox ul li a:hover { color:#EE2E24 }
/* Checkout */
.checkoutsteptitle { padding:8px 10px; background:#E7E7E7 url("../img/down.png") no-repeat right -21px; margin:5px 0 10px 0; color:#495c58; font-size:16px; border-bottom:1px dashed #E7E7E7; cursor:pointer }
.checkoutsteptitle.down { background-position: right 10px }
.checkoutsteptitle a.modify { float:right; margin-right:30px; font-size:13px; line-height:16px }
.checkoutstep { display:none; margin:15px 0 30px 0; background:#fff; padding:15px; }
.checkoutstep textarea { width:95% }
.checkoutstep:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.newcustomer, .returncustomer { width:40%; float:left; border:1px solid #E7E7E7; padding:15px 20px; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; }
.newcustomer { margin-right:5%; }
.privacy { float:right; margin:10px 10px 0 0 }
/* javascripts */
.accrodian-trigger { padding:8px 8px 8px 8px; display:block; margin:5px 0; border:1px solid #D6D4CB; cursor:pointer }
.accrodian-trigger, .togglehandle { background: url("../img/accrodianicon.png") no-repeat scroll right 5px transparent; }
.togglehandle { padding:8px 8px 8px 8px; display:block; margin:5px 0; border:1px solid #D6D4CB; cursor:pointer }
/* Blog */
.blogdetail { margin-bottom:30px }
#myTab { margin-top:25px }
.tab-content.sideblog ul li { margin-bottom:20px; padding:5px 5px 10px 0; list-style:none; border-bottom:1px dashed #D6D4CB }
.tab-content.sideblog ul li:last-child { border:none }
.tab-content.sideblog ul li:after { content:""; clear:both; display:block }
.author { margin:5px 0 10px 0; }
.author a { color:#EE2E24; d
}
.tab-content ul { margin:0px }
.tab-content .blogtitle { font-size:15px; color:#EE2E24; }
.tab-content .blogtitle:hover { color:#333 }
.sideblogimage { float:left; margin:0 10px 10px 0; padding:5px; border:1px solid #ddd }
.blogicons { margin:20px 0 10px 0; clear:both; }
.blogdetail .blogicons { margin:-10px 0 30px 0 }
.tab-content .blogicons { margin:10px 0 10px 0 }
.blogicons:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
ul.tags { margin:20px 0px 0; }
.tags li { display:inline-block; margin:5px 3px }
ul.tags li a { display:inline-block; padding:3px 10px; background:#E7E7E7; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; color:#999999 }
ul.tags li a:hover { background:#EE2E24; color:#fff }
span.viewfancypopup { background: url("../img/view.png") no-repeat scroll center center transparent; text-align:center; width:100%; display:none; height:75px; position:absolute; bottom:50%; margin-bottom:-38px }
a.fancyboxpopup { position:relative; display:block }
a.fancyboxpopup:hover span.viewfancypopup { display:block; position:absolute; z-index:999; margin-top:-55% }
#comments .blogtitle { font-size:14px }
.avtar { margin:0 10px 10px 0 }
.blogautor { margin-bottom:30px; padding-bottom:20px }
ul.comments li ul.comments { margin-top:40px }
ul.comments li { clear:both; margin-bottom:40px }
.blogautor .avtar { height:80px; width:120px; float:left }
.comments .avtar { height:60px; width:60px; float:left }
.commentdetail { margin-left:150px }
ul.comments .commentdetail { margin-left:80px }
.usercomment { color:#EE2E24; display:block; margin:5px 0 }
.bloggridtitle { font-size:18px; color:#EE2E24; margin:5px 0 10px 0; display:block }
/* Sidebar */
.sidewidt { margin-bottom:40px }
/* Categories */
.categorytitle { margin:0 0 35px 0 }
ul.categories { background: none repeat scroll 0 0 #FFFFFF; border-radius: 4px 4px 4px 4px; padding-top:10px; padding-bottom:10px }
ul.categories li { display:block; border-bottom:1px dashed #E7E7E7 }
ul.categories li:last-child { border:none }
ul.categories li a { display:block; padding:8px 5px 8px 20px; background: url("../img/arrowcategory.png") no-repeat scroll 0px center transparent; color:#999999 }
ul.categories li a.active { color:#EE2E24 }
ul.categories li a:hover { background-image: url("../img/arrowcategory.png") no-repeat scroll 10px center transparent; color:#333 }
/* Categories dropdown */
ul.categories li { position:relative }
ul.categories li > ul { display:none; position:absolute; top:80%; left:5%; z-index:10; background:#fff; padding:10px; border:1px solid #E7E7E7; }
ul.categories li:hover > ul { display:block }
ul.categories li ul li, ul.categories li ul li a { display:block; }
ul.categories li { position:relative }
ul.categories li ul li ul { display:none; position:absolute; top:80%; left:5%; z-index:10; background:#fff; padding:10px; border:1px solid #E7E7E7; }
ul.categories li ul li:hover ul { display:block }
ul.categories li ul li ul li, ul.categories li li ul ul li a { display:block; }
/* Bestsellter */
ul.bestseller { background: none repeat scroll 0 0 #FFFFFF; border-radius: 4px 4px 4px 4px; padding-top:10px; padding-bottom:10px; margin:0px }
ul.bestseller li a.productname { display:block; color:#EE2E24; }
ul.bestseller li a:Hover.productname { color:#333 }
ul.bestseller li img { float:left; margin:0px 10px 10px 0; padding:5px; border:1px solid #E7E7E7; background:#fff }
ul.bestseller li span.price {
	display: block;
	font-size: 14px;
	color: #666;
}
ul.bestseller li span.procategory { display:block; color:#333 }
ul.bestseller li { display:block; border-bottom:1px dashed #E7E7E7; padding:16px 10px 16px 0; }
ul.bestseller li:last-child { border:none }
ul.bestseller li:hover { }
.sidebanner { background: none repeat scroll 0 0 #FFFFFF; border-radius: 4px 4px 4px 4px; display: block; line-height: 1; position: relative; margin-top:40px }
.sidebanner img { display:block; margin: 0 auto }
/* Latest Blog */
.thumbnail .newprice { background:#6A7274; display:block; font-size:18px; line-height:22px; color:#fff; padding:2px 5px }
#latestblog p { line-height:20px }
#latestblog .blogtitle { font-size:22px; color:#EE2E24; line-height:30px; margin-bottom:5px; display:block }
#latestblog .blogtitle:hover { color:#EE2E24 }
.latestblogbutton { display:block; clear:both }
.listblcok { position:relative; margin-bottom:30px; padding-bottom:30px; border-bottom:1px solid #E7E7E7 }
/* Pagination*/
.pagination { margin:0 }
.pagination ul { background:#fff }
.pagination a:hover, .pagination .active a { background-color: #fff; color: #EE2E24; }
/* sorting*/
.sorting { overflow:auto; padding:10px; margin-bottom:40px; }
.sorting form { margin:0px }
/* listview*/
.list { display:none }
.list .thumbnail .links { float:right; margin-top:78px }
.list .details { margin:10px; line-height:18px }
/* Flicker */
#flickr { margin-top:25px }
.thumbs { margin: 0; padding: 0; overflow: hidden; }
.thumbs li { list-style: none; display:inline-block; }
.thumbs li a { display:inline-block; float:left; margin: 4px; border:1px solid #999 }
.thumbs li img { height:50px; width:50px }
.thumbs li a img { border: none; }
#fb-root, #fb-root > div { overflow:hidden }
/* Contact */
label.error { color: #EE2E24; float: none; display:inline-block }
/* typo */
ul.listoption1, ul.listoption2, ul.listoption3, ul.listoption4, ul.listoption5, ul.listoption6, ul.foodicon, ul.blogcaterg { margin:0px; padding:0px; list-style:none }
ul.listoption1 li, ul.listoption2 li, ul.listoption3 li, ul.listoption4 li, ul.listoption5 li, ul.listoption6 li { display:block; padding:5px 0 5px 20px }
ul.listoption1 li { background: url("../img/list1.png") no-repeat scroll 0 5px; padding:5px 0 5px 25px }
ul.listoption2 li { background: url("../img/list2.png") no-repeat scroll 0 5px; }
ul.listoption3 li { background: url("../img/list3.png") no-repeat scroll 0 9px; padding:5px 0 5px 15px }
ul.listoption4 li { background: url("../img/list4.png") no-repeat scroll 0 10px; }
ul.listoption5 li { background: url("../img/list5.png") no-repeat scroll 0 10px; padding:5px 0 5px 15px }
ul.listoption6 li { background: url("../img/list6.png") no-repeat scroll 0 10px; }
/* messages */

.errormsg, .alertmsg, .successmsg, .infomsg, .infomsg2 { background: url("../img/messages.png") no-repeat scroll 8px 0 transparent; display: block; margin: 18px 0; padding: 15px 8px 15px 50px; position: relative; color:#666666!Important; }
.errormsg { background-color: #FCCAC1; background-position: 8px -69px; border: 1px solid #E18B7C; }
.alertmsg { background-color: #FFE9AD; background-position: 8px -214px; border: 1px solid #EAC572; }
.successmsg { background-color: #EFFEB9; background-position: 8px -144px; border: 1px solid #C1D779; }
.infomsg { background-color: #DEEEFA; background-position: 8px 5px; border: 1px solid #AFD3F2; }
.infomsg2 { background-color: #FFFFFF; background-position: 8px 5px; border: 1px solid #AFD3F2; }
a.clostalert { background: url("../img/messages.png") no-repeat scroll 0 -310px transparent; cursor: pointer; height: 15px; overflow: hidden; position: absolute; right: 5px; text-indent: 9999px; top: 5px; width: 15px; }
/* faq */

#faq .question { margin:20px 0; font-size:18px; color:#333 }
#faq .answer { margin:20px 0 40px 0; font-size:14px; padding:0 0 0 15px }
/* testimonial */
#testimonialmain ul li { padding:15px; float: left; min-width: 120px; margin: 1px 0 0; list-style: none; background-color: #ffffff; border: 1px solid #E7E7E7; border: 1px solid rgba(0, 0, 0, 0.2); *border-right-width: 2px;
*border-bottom-width: 2px;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; position:relative; margin-bottom:40px }
#testimonialmain ul li:before { right: auto; left: 12px; border-bottom: 7px solid rgba(0, 0, 0, 0.2); border-left: 7px solid transparent; border-right: 7px solid transparent; content: ""; display: inline-block; position: absolute; top: -5px; }
#testimonialmain ul li:after { right: auto; left: 13px; border-bottom: 6px solid #FFFFFF; border-left: 6px solid transparent; border-right: 6px solid transparent; content: ""; display: inline-block; position: absolute; top: -4px; }
/* services */
#services { }
#services ul { margin:0px; padding:0px }
#services ul li { display:block; margin:40px 0 }
#services ul li .span10 h2 { color:#EE2E24; }
#services ul li:after { content:''; clear:both; height:0; display:block }
#services ul li .icons { text-align:center; border: 1px solid #E7E7E7; margin: 0 auto; padding:15px; width:100px; height:100px; border-radius:100px; -moz-border-radius:100px; -wekit-border-radius:100px; -moz-transition: all .5s ease;
-webkit-transition: all .5s ease;
-o-transition: all .5s ease;
line-height:100px }
#services ul li:hover .icons { color:#EE2E24; -moz-transition: all .5s ease;
-webkit-transition: all .5s ease;
-o-transition: all .5s ease
}
.otherddetails .otherddetailspart .innerclass h2 { font-size:20px; color:#5e626b; line-height:normal; margin:0px; }
.otherddetails .otherddetailspart .innerclass h2:before { visibility: hidden; display: block; content: ""; lear: both; height: 0; }
/* Footer */
#footer { margin-top:40px }
#footer ul { margin:0px; padding:0px; list-style:none }
#footer ul li { list-style:none }
.contact ul li { padding:0px; height:53px; margin-right:5px }
.contact ul li.location:before { content:""; font-family:FontAwesome; margin-right:10px; font-size:16px }
.contact ul li.phone:before { content:""; font-family:FontAwesome; margin-right:10px; font-size:16px }
.contact ul li.mobile:before { content:""; font-family:FontAwesome; margin-right:10px; font-size:24px }
.contact ul li.email:before { content:""; font-family:FontAwesome; margin-right:10px; font-size:16px }
.footersocial .info ul li { display:block; padding:6px 0 6px 0px }
.footersocial .info ul li:before { content:""; font-family:FontAwesome; margin-right:5px }
.footersocial .info ul li a:hover { color:#fff }
.footersocial .span3.facebook { overflow:hidden }
.facebook .seperator { background:#3A3A3A; display: block; height: 6px; position: absolute; top: 144px; width: 107%; z-index: 99; }
.facebook .seperator1 { background:#3A3A3A; display: block; height: 6px; position: absolute; top: 286px; width: 107%; z-index: 99; }
.social ul li { display:inline-block; font-size:18px; margin:0 5px }
.social ul li a:hover { color:#fff }
.paymentsicons { text-align:right }
.paymentsicons img { margin-right:7px }
.facebook { position:relative }
#extras { border-top:4px double #E7E7E7; padding:40px 0 0 0 }
#publicidad { border-top:4px double #E7E7E7; padding:10px 0 0 0 }
/* footer twitter  */
#twitter ul { margin-bottom:20px }
#twitter ul li { margin-bottom:15px; padding:0px!important; display:block; clear:both }
#twitter ul li a { font-style:italic; color:#fff }
a.tweet_avatar { margin:5px 5px 5px 0; float:left }
.tweet_list .tweet_avatar { float: left; }
.tweet_time { clear:both }
/* footersocial  */
.footersocial { padding:30px 0 40px; background:#3A3A3A; color:#999 }
.footersocial h2 { margin-bottom:30px; font-size:22px; text-transform:none; font-weight:normal; text-transform:uppercase; font-family: 'Noto Sans', serif; border-bottom:1px solid #666; padding:0px 0 5px 0; color:#ccc; }
#footersocial { float:right; margin-right:-12px }
#footersocial a { background:url(../img/footericon.png) no-repeat; height:30px; width:30px; margin-right:11px; text-indent:-9999px; overflow:hidden; display:inline-block; margin-bottom:5px; -moz-transition: all .2s ease;
-webkit-transition: all .2s ease;
-o-transition: all .2s ease
}
#footersocial a:hover { -moz-transition: all .2s ease;
-webkit-transition: all .2s ease;
-o-transition: all .2s ease
}
#footersocial a.facebook { background-position:0 -6px; }
#footersocial a.facebook:hover { background-position:0 -47px; }
#footersocial a.twitter { background-position:-40px -6px }
#footersocial a.twitter:hover { background-position:-40px -47px }
#footersocial a.linkedin { background-position:-80px -6px }
#footersocial a.linkedin:hover { background-position:-80px -47px }
#footersocial a.blooger { background-position:-118px -6px }
#footersocial a.blooger:hover { background-position:-118px -47px }
#footersocial a.rss { background-position:-155px -6px }
#footersocial a.rss:hover { background-position:-155px -47px }
#footersocial a.dig { background-position:-194px -6px }
#footersocial a.dig:hover { background-position:-194px -47px }
#footersocial a.googleplus { background-position:-234px -6px }
#footersocial a.googleplus:hover { background-position:-234px -47px }
#footersocial a.skype { background-position:-271px -6px }
#footersocial a.skype:hover { background-position:-271px -47px }
#footersocial a.flickr { background-position:-309px -6px }
#footersocial a.flickr:hover { background-position:-309px -47px }
/*Copyright Bottom*/
.copyrightbottom { background:#303030; padding:15px 0; color:#969ba4 }
#gotop { position:fixed; bottom:2px; right:5px; height:58px; width:58px; background:url(../img/gotop.png) no-repeat 0 0; display:block; text-indent:-9999px; overflow:hidden }
.the-icons li { display:inline-block; width:22%; padding:10px 0 }
.index8tabcontent { border:none!important; padding-left:0px!important; padding-right:0px!important; margin-top:15px }
.index8tabcontent ul.thumbnails { margin-left:-30px }
#index8tab li h2 { margin:0px; padding-bottom:0px; border:none }
#index8tab li.active h2 { color:#EE2E24 }
/*Responsive table*/
.responsivetable1 ul { border: 2px solid #efefef; color: #7D7D7D; display: block; line-height: 24px; list-style-type: none; margin: 0; padding: 0; text-align: center; transition: all 0.2s ease-in-out 0s; }
.responsivetable1 ul.basic { border: 2px solid #EE2E24; }
.responsivetable1 ul { display: inline-block; }
.responsivetable1 ul > li { background: none repeat scroll 0 0 #F4F4F4; border-image: none; padding: 10px 0; }
.responsivetable1 ul > li:nth-child(2n+1) {
background: none repeat scroll 0 0 #fff;
}
.responsivetable1 ul:hover { box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2); }
.responsivetable1 .pricemain { color: #FFFFFF; display: block; margin: 0; background-color:#EE2E24 }
.responsivetable2 { text-align:center }
.responsivetable2 .span3 .pricebox { border:1px solid #efefef; padding:20px 0 }
.responsivetable2 .span3 .pricebox h4 { color:#EE2E24 }
.responsivetable2 .span3.resonable .pricebox h1 { color:#EE2E24 }
.responsivetable2 .span3.resonable .pricebox { border:1px solid #EE2E24; padding:20px 0 }
.responsivetable2 > div { padding:15px; background:white; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; margin:25px 0 }
.responsivetable2 > div.resonable { position:relative; margin:0; box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2); z-index:999; }
.responsivetable2 ul { margin:20px 0 }
.responsivetable2 ul.selected { margin:50px 0 }
.responsivetable2 ul li { margin-bottom:8px; border-bottom:1px dashed #efefef; padding:5px 0 8px 0 }
/* manufacturer */
.manufacturer-list { border: 1px solid #DBDEE1; padding: 5px; overflow: auto; margin-bottom: 20px; }
.manufacturer-heading { background: #F8F8F8; font-size: 15px; font-weight: bold; padding: 5px 8px; margin-bottom: 6px; }
.manufacturer-content { padding: 8px; }
.manufacturer-list ul { float: left; width: 25%; margin: 0; padding: 0; list-style: none; margin-bottom: 10px; }
ul.aboutus { margin:0 0 40px 0 }
.form-actions { background:none }
.map { width: 100%; height: 400px; margin-bottom: 20px; }
#countdown { position:relative; margin:20px auto; text-align:center }
.hasCountdown { height:115px; }
.box { text-align:center; margin:0 15px; width:125px; height:125px; border:1px solid #e7e7e7; background:#fdfdfd; display:inline-block }
.box span { font-size:18px; clear:both; color:#333; }
.box > div { text-align:center; font-size:52px; height:80px; line-height:88px; }
#newslettersignup .input-prepend input.btn { margin-left:-5px }

/*Flex slider */
#mainslider { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px }
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus { outline: none; }
.slides, .flex-control-nav, .flex-direction-nav { margin: 0; padding: 0; list-style: none; }
/* FlexSlider Necessary Styles
*********************************/ 
.flexslider { margin: 0; padding: 0; }
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; position:relative; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; -o-border-radius:8px } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { width: 100%; display: block; }
.flex-pauseplay span { text-transform: capitalize; }
/* Clearfix for the .slides element */
.slides:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }
/* FlexSlider Default Theme
*********************************/
.flexslider { position: relative; -webkit-border-radius: 4px;/* -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);*/ zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px }
.flexborder { background:#fff; margin-bottom:5px; margin-top:4px }
/* Direction Nav */
.flex-direction-nav a { width: 30px; height: 30px; margin: -20px 10px 0 10px; display: block; background: url(../img/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 55%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next { background-position: 100% 0; right: 0px; }
.flex-direction-nav .flex-prev { left: 0px; }
.flexslider:hover .flex-next { opacity: 0.8; right: 0px; }
.flexslider:hover .flex-prev { opacity: 0.8; left: 0px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .disabled { opacity: .3!important; filter:alpha(opacity=30); cursor: default; }
/* Control Nav */
.flex-control-nav { position: absolute; bottom: 15px; left:15px; overflow:hidden }
.flex-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; *display: inline;
}
.flex-control-paging li a { width: 10px; height: 10px; display: block; background: #5e626b; cursor: pointer; text-indent: 9999px; }
.flex-control-paging li a:hover { background: #333; background: #EE2E24 }
.flex-control-paging li a.flex-active { background: #000; background: #EE2E24; cursor: default; }
.flex-control-thumbs { margin: 5px 0 0; position: static; overflow: hidden; }
.flex-control-thumbs li { width: 25%; float: left; margin: 0; }
.flex-control-thumbs img { width: 100%; display: block; opacity: .7; cursor: pointer; }
.flex-control-thumbs img:hover { opacity: 1; }
.flex-control-thumbs .active { opacity: 1; cursor: default; }
/* Brand */
#advertise.flexslider { margin-top:40px; border:none }
#advertise.flexslider .slides img { width:auto; margin:0 auto }
#advertise .flex-control-paging li a { display:none!important }
#advertise .flex-direction-nav a { opacity:1!important }
/* index1 slider */
#mainslider2_pag { margin:15px 0 0 0 }
.html_carousel { padding: 0 }
.html_carousel div.slide { position: relative; }
.html_carousel div.slide div { background-color: rgba(0, 0, 0, 0.6); width: 100%; position: absolute; bottom: 0; }
.html_carousel div.slide h4 { font-size: 28px; padding: 10px 0 10px 50px; }
.html_carousel div.slide p { font-size: 14px; padding: 0 0 15px 50px; }
.html_carousel div.slide h4, .html_carousel div.slide p { color: white; margin: 0; }
div.thumbnails { text-align: center; margin: 15px 0px; }
div.thumbnails img { cursor: pointer; background-color: white; display: inline-block; border:5px solid #efefef; margin:5px 10px }
div.thumbnails img:hover { background-color: #eee; }
div.thumbnails img.selected { background-color: #EE2E24; border:5px solid #EE2E24; }
.clearfix { float: none; clear: both; }
/* Product Carousal */
.caroufredsel_wrapper { position:relative }
#prevproductcarousal { background:url(../img/carousalarrow.png) no-repeat scroll 8px center #EE2E24; position:relative; font-size:24px; text-indent:-9999px; display:block; overflow:hidden; height:25px; width:25px; left:0; top:30px }
#nextproductcarousal { background:url(../img/carousalarrow.png) no-repeat scroll -18px center #EE2E24; position:relative; font-size:24px; text-indent:-9999px; display:block; overflow:hidden; height:25px; width:25px; right:0; top:30px }
/* mainslider9 Carousal */
#mainslider9 { width:1170px }
#mainslider9 .item { width: 1170px; float: left; }
#mainslider9 .item > div { width: 1170px; padding: 25px 0; overflow: hidden; }
#mainslider9 .item img { width: 530px; float: left; box-shadow: 0 0 20px #999; }
#mainslider9 .item div.text { background-color: #fff; width:  530px; height:490px; padding: 20px 40px; margin-left: 20px; float: left; position: relative; box-shadow: 0 0 10px #999; border:1px solid #ccc }
#mainslider9 .item div.text:after { content: " "; display: block; width:25px; height: 25px; margin-top: -10px; position: absolute; left: -11px; top: 50%; background:url(../img/slderleftimg.png) no-repeat 0 0; }
/* mainslider12 Carousal */
#carouseindex12 { padding:50px 20px 5px }
#carouseindex12 ul.slides li { border:5px solid #efefef; padding:0px 20px 5px 20px; cursor:pointer }
#carouseindex12 ul.slides li.flex-active-slide { border:5px solid #EE2E24 }
#carouseindex12 .flex-direction-nav a { top:70% }
/* mainslider6 Carousal */

#prevmainslider6 { float: left; margin-left: 10px; }
#nextmainslider6 { float: right; margin-right: 10px; }
#pagermainslider6 { float: left; width: 100%; text-align: center; }
#pagermainslider6 a { width: 15px; height: 15px; display: inline-block; background: #5e626b; cursor: pointer; text-indent: 9999px; margin:0 5px; overflow:hidden }
#pagermainslider6 a:hover { background: #333; background: #EE2E24 }
#pagermainslider6 a.selected { background: #000; background: #EE2E24; cursor: default; }
#timermainslider6 { background-color: #999; height: 6px; width: 0px; }
/* mainslider5 Carousal */

#pager.sliderindex10pager { margin-top: 5px; width: 100%; height:10px }
#pager.sliderindex10pager:after {
content:'', clear:both; display:block }
#pager.sliderindex10pager a, #pager span { display: block; height: 10px; }
#pager.sliderindex10pager a { border: 1px solid #ccc; width: 23%; margin:5px 2px; display:inline-block; }
#pager.sliderindex10pager a:hover { border-color: #999; }
#pager.sliderindex10pager span { background-color: #ccc; width: 0px; }
/* Testimonailsidebar */
#testimonialsidebar, #latesetblogsidebar { padding-bottom:40px }
#testimonialsidebar .flex-direction-nav, #latesetblogsidebar .flex-direction-nav { display:none }
#testimonialsidebar .flex-control-paging, #latesetblogsidebar .flex-control-paging { bottom:0px }
#testimonialsidebar .flex-control-paging li, #latesetblogsidebar .flex-control-paging li { float:right }
#testimonialsidebar .flex-control-paging li a, #latesetblogsidebar .flex-control-paging li a { height:10px; width:10px }
#latesetblogsidebar ul.slides > li { display: block; padding:10px; position: absolute; top: 97%; left: 0; z-index: 99999; display: none; float: left; min-width: 120px; margin: 1px 0 0; list-style: none; background-color: #ffffff; border: 1px solid #E7E7E7; border: 1px solid rgba(0, 0, 0, 0.2); *border-right-width: 2px;
 *border-bottom-width: 2px;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:90%!important; }
#latesetblogsidebar ul.slides > li:before { right: auto; left: 12px; border-bottom: 7px solid rgba(0, 0, 0, 0.2); border-left: 7px solid transparent; border-right: 7px solid transparent; content: ""; display: inline-block; position: absolute; top: -5px; }
#latesetblogsidebar ul.slides > li:after { right: auto; left: 13px; border-bottom: 6px solid #FFFFFF; border-left: 6px solid transparent; border-right: 6px solid transparent; content: ""; display: inline-block; position: absolute; top: -4px; }
#latesetblogsidebar ul.slides li .blogtitle { color:#EE2E24; font-size:16px; margin:5px 0; display:block }
#latesetblogsidebar ul.slides li img { width:auto; float:left; margin:5px 10px 0 0; border:1px solid #efefef; padding:3px }
#latesetblogsidebar ul.slides li p { display:block; clear:both }
#latestnews li { margin:15px 0 10px 0 }
#latestnews ul { margin:0px }
#latestnews li .date { font-size:16px; color:#333; margin-left:8px }




 @media (max-width: 1199px) {
.headerdetails {
	padding-top: 40px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0px;
}
.top-search input {width:180px}
.thumbnails li:hover .thumbnail img {transform:none;-ms-transform: none;-webkit-transform: none;-o-transform: none;/* Opera */-moz-transform:none;transition: none;
-moz-transition: none;-webkit-transition: none;-o-transition: none;}
.otherddetails .otherddetailspart {margin-right:0px}
.otherddetails .otherddetailspart .innerclass {width:100px;height:100px;padding:15px}
.otherddetails .otherddetailspart .innerclass i {font-size:30px;}
.otherddetails .otherddetailspart .innerclass p {display:none}
.otherddetails .otherddetailspart .innerclass h2 {font-size:18px;}
.nav-tabs > li > a, .nav-pills > li > a {padding:6px; margin: 0 3px!important}
.heading1 {font-size:18px}
#mainslider9 {width:970px}
#mainslider9 .item {width: 970px;float: left;}
#mainslider9 .item > div {width: 970px; padding: 50px 0;}
#mainslider9 .item img {width: 430px; }
#mainslider9 .item div.text {width:  390px; height:390px;}
#mainslider9 .item div.text p {display:none}
#mainslider9 ul.productpagecart li {margin-right:8px}
#mainslider9 .item > div {padding:20px 0!important}
}
 @media (min-width: 768px) and (max-width: 1200px) {
.thumbnail .pricetag {background:none; width:auto; height:auto; padding:0px; margin:10px 0}
.thumbnail .pricetag .spiral { display:none}
.thumbnail .price { width:100%;  margin:10px 0 0 0}
.thumbnail a.productcart { float:none}
#layerslider5 ul.listoption1 li {padding-top:0px; padding-bottom:0px}
#layerslider5  .btn {margin-top:15px}
#layerslider5 .ls-nav-prev {left:0}
#layerslider5 .ls-nav-next {right:0}
}
@media (max-width: 979px) {
.container {padding:0 0!important;}
#newslettersignup input {width:80px}
.headerdetails .nav.pull-left {width:310px; margin:0 auto; border:1px solid #ccc; margin-bottom:6px }
.heading1 {font-size:16px; margin-bottom:20px}
.heading2 {font-size:16px; margin-bottom:10px `}
.span1 .font72 {font-size:40px}
.responsivetable2 > div { padding:10px}
#services ul li .icons {width:70px; height:70px}
#services ul li .icons .font72 {font-size:60px}
.thumbnail .shortlinks {top:25%}
input, textarea, .uneditable-input {width:90%}
.top-search .btn {margin-top:6px}
.headerdetails {text-align:center}
#categorymenu {margin:0px 0 10px 0}
.top-search input {margin:20px auto 10px auto; width:80%}
#categorymenu select {display:block}
#categorymenu {background:none; border:none}
.container {padding:0 20px}
nav.subnav {width:auto; float:none}
nav.subnav select {display: inline-block; height:auto; width:90%; float:none; margin:0 auto}
nav.subnav { background:none; border:none}
nav.subnav ul {display:none}
#topnav ul { float:right}
#topnav ul {padding:6px 0 0 0}
.headerstrip .pull-right {float:none; text-align:center}
.headerstrip .pull-right .search-query {width:90%; margin-top:15px}
.headerdetails {margin:0px; padding:20px 0 0 0!important}
.headerdetails .nav.pull-left {float:none}
.headerdetails .pull-left {float:none; text-align:center}
.headerdetails .pull-right {float:none; text-align:center}
.headerstrip {height:auto}
.headerdetails .topcall {position:absolute; right:50px; top:5px; background:url(../img/sprite.png) left -659px no-repeat; color:#fff}
.thumbnail .pricetag {margin:0 auto}
.otherddetails .otherddetailspart .innerclass h2 {font-size:18px}
 #featured .thumbnails li:hover .thumbnail img, #ourteam .thumbnails li:hover .thumbnail img, #latest .thumbnails li:hover .thumbnail img, #related .thumbnails li:hover .thumbnail img, #category .thumbnails li:hover .thumbnail img, .thumbnails.list li:hover .thumbnail img {transform: none; -ms-transform: none; /* IE 9 */webkit-transform: none; /* Safari and Chrome */ -o-transform: none; /* Opera */ -moz-transform:none; /* Firefox */ transition: all 0.8s; -ms-transition: all 0.8s; /* IE 9 */-moz-transition: all 0.8s; /* Firefox 4 */ -webkit-transition: all 0.8s; /* Safari and Chrome */ -o-transition: all 0.8s; /* Opera */}
.newcustomer, .returncustomer {width:85%; margin-bottom:10px}
.checkoutstep .span4 {width:auto}
#featuredcarousal li, #latestcarousal li {margin:0px 5px 0 5px;}
.heading2 span {font-size:17px;}
#mainslider9, {height:auto!important}
.bannerheading1 {top:45px}
.bannerheading2 {top:120px}
.bannerheading1, .bannerheading2 {font-size:26px;}
.bannerbutton {top:200px}
#brand.flexslider .slides img {width:60%}
#mainslider9, #mainslider9 .item, #mainslider9 .item > div, #mainslider9 .item img {width:auto; text-align:center}
#mainslider9 .text {display:none; clear:both}
#mainslider9 .text:after {display:none }
#mainslider9 .item img {float:none}
}
@media (max-width: 767px) {
.headerdetails .topcall {display:none}
.headerstrip {text-align:center;}
.headerstrip ul.nav.language {margin-right:0px}
.headerstrip .pull-left {float:none;}
.top-search {margin-top:-5px}
#topnav {width:auto;text-align:center}
#topnav ul {text-align:center; margin:0 auto; float:none}
#topnav ul li { display:inline-block; float:none}
.headerstrip .pull-right .search-query { margin-top:0px }
.footerlinks {text-align:center}
.footerlinks .info, #footersocial {float:none; margin:10px 0}
.footerlinks {padding:10px 0}
.copyrightbottom {text-align:center}
.copyrightbottom .textright {text-align:center}
.otherddetails .otherddetailspart {width:100%; background:none; border-bottom:1px solid #ddd }
#newslettersignup input[type=submit] {height:32px}
.the-icons li {display:block; width:90%; padding:10px 0}
.smbanner .span3 a { margin:10px 0}
.heading1 .subtext { display:none}
.productdesc #myTab.nav-tabs li a { padding:8px}
th.image, th.model, td.image, td.model {display:none!important}
.cart-info td, .cart-info th {padding:5px}
#featuredcarousal > li {width:270px!important; margin:0 auto; float:none; display:inline-block}
#latestcarousal > li {width:270px!important; margin:0 auto; float:none; display:inline-block}
.otherddetails .otherddetailspart {width:30%; border-bottom:none; margin-bottom:8px}
.manufacturer-list ul {width:50%}
.container {margin-left:auto!important; margin-right:auto!important}
#newslettersignup .pull-left {float:none}
.thumbnail {width:300px; margin:0 auto}
.caroufredsel_wrapper .thumbnail {width:auto}
.thumbnail .shortlinks {top:50%}
.thumbnails .prdocutname {text-align:center}
.mainimage.thumbnails .thumbnail {width:auto}
.footersocial .span3 {margin-bottom:30px}
.paymentsicons {text-align:center; margin-top:10px}
#newslettersignup input {width:auto}
.prdocutname {margin-top:6px!important}
#categorymenu select {margin:10px auto }
.pagination {margin-bottom:40px}
.blogtitle {margin-top:10px}
.compare .btn, .checkoutstep .btn {margin-top:5px;margin-bottom:5px;margin-right:0px}
.newcustomer, .returncustomer {float:none}
aside.span3 {margin-top:40px}
#faq ul, #testimonialmain ul {margin-left:0px1}
.hasCountdown {height:auto}
.modify {text-indent:-9999px; overflow:hidden}
.otherddetails .otherddetailspart {width:100%}
.slider {margin-left:0px}
.manufacturer-list ul {width:100%}
#layerslider5 ul.listoption1 {display:none}
#layerslider5 .ls-nav-prev {left:0}
#layerslider5 .ls-nav-next {right:0}
#layerslider5 .btn {font-size:10px}
.bannerheading1 {top:35px}
.bannerheading2 {top:90px}
.bannerbutton, .bannerpriceround {display:none!important}
.flex-control-nav {bottom: 10px}
#brand.flexslider .slides img {width:auto}
.mainslider9height .caroufredsel_wrapper  {height:460px!important}
}
@media only screen and (max-width: 479px) {
.thumbnail {width:auto}
.container {padding:0 15px!important}
.headerdetails .nav.pull-left {width:auto}
h2.error404 {font-size:36px}
.bannerheading1, .bannerheading2 {font-size:18px;line-height:24px}
.flex-control-nav {bottom:15px}
.mainslider9height .caroufredsel_wrapper  {height:400px!important}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width: 420px;}
.otherddetails .otherddetailspart {width:47%}
.headerstrip #topnav {margin-bottom:0px}
}
@media screen and (max-width: 860px) {
.flex-direction-nav .flex-prev {opacity: 1; left: 0;}
.flex-direction-nav .flex-next {opacity: 1; right: 0;}
.flexslider:hover .flex-next {opacity: 0.8; right: 0px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 0px;}
.flex-control-nav {display:none}
.html_carousel div.slide div {display:none!important}
}
@media (max-width: 400px) {
.mainslider9height .caroufredsel_wrapper  {height:300px!important}
.index8tabcontent {left:21px}
}
/* ------------ bootstrap overwrite ------------ */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus { border-color: rgba(242, 92, 39, 0.6); outline: 0; outline: thin dotted \9; /* IE6-9 */ -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(242, 92, 39, 0.6); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(242, 92, 39, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(242, 92, 39, 0.6); }
input.search-query, .btn, .label, .badge, .nav-pills > li > a { -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
.dropdown-menu li > a { color:#96979d }
.dropdown-menu:before { position: absolute; top: -7px; left: 9px; display: inline-block; border-right: 7px solid transparent; border-bottom: 7px solid #E7E7E7; border-left: 7px solid transparent; border-bottom-color: rgba(0, 0, 0, 0.2); content: ''; }
.dropdown-menu:after { position: absolute; top: -6px; left: 10px; display: inline-block; border-right: 6px solid transparent; border-bottom: 6px solid #ffffff; border-left: 6px solid transparent; content: ''; }
.nav > li > a:hover { background-color:transparent; }
.nav .dropdown-toggle .caret { border-bottom-color: #EE2E24; border-top-color: #EE2E24; margin-top: 10px; }
.dropdown-menu li > a { padding:5px 20px }
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a { color: #ffffff; text-decoration: none; background: #EE2E24; }
.dropdown-menu .active > a, .dropdown-menu .active > a:hover { color: #333333; text-decoration: none; background: #EE2E24; outline: 0; }
.btn { padding: 6px 12px; border:none }
.btn { text-shadow: none; box-shadow :none; }
.btn-orange { color: #ffffff; text-shadow: none; background: #EE2E24; *background: #EE2E24;
box-shadow :none; }
.btn-orange:hover, .btn-orange:active, .btn-orange.active, .btn-orange.disabled, .btn-orange[disabled] { color: #ffffff; background-color: #333333; *background-color: #333333;
}
.btn-orange:active, .btn-orange.active { background-color: #333333 \9; }
.label-orange, .badge-orange { background-color: #EE2E24; }
.label-orange[href], .badge-orange[href] { background-color: #EE2E24; }
.dropdown-menu { top:97% }
.nav-tabs > li > a, .nav-pills > li > a { margin:2px 5px 2px 6px }
.thumbnail { position:relative; padding:0px; border:none; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none }
.thumbnail > a { display:block; overflow:hidden }
table th { color:#333 }
.nav li.dropdown.open a:hover .caret { border-top-color: #EE2E24!important; border-bottom-color: #EE2E24!important; opacity: 1; filter: alpha(opacity=100); }
